name: Java CI

on: [push]

jobs:
  build:

    runs-on: windows

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      run: ./gradlew installDist -i --stacktrace
    - name: Run application
      run: build/install/gradle-application-too-long-input-line/bin/gradle-application-too-long-input-line.bat
